  <div>
    <po-button p-label="Executar" (p-click)="busca_dados()"> </po-button>
    <po-button p-label="Exportar"> </po-button>
    <po-button p-label="Abrir"> </po-button>
    <po-button p-label="Salvar"> </po-button>
    <po-button p-label="RPC User Function"> </po-button>
    <po-button p-label="Ajuda"> </po-button>
</div>
<br>
  <po-code-editor [(ngModel)]="codeEditor"
      p-language="sql"
      [p-suggestions]="[
        { label: 'D_', insertText: 'D_E_L_E_T_ = \' \' ' },
        { label: 'R_', insertText: 'R_E_C_N_O_' }
      ]"
    >
</po-code-editor>
<!-- <p>teste</p>
<p>{{codeEditor}}</p> -->
  
