<div _ngcontent-xtc-c185="" class="sql-disclaimer-container">
  <strong _ngcontent-xtc-c185="" class="disclaimer-title">ATENÇÃO!</strong>
  <ul _ngcontent-xtc-c185="" class="disclaimer-list">
    <li _ngcontent-xtc-c185="" class="disclaimer-item">
      O Editor QSQLWEB é uma ferramenta de apoio que deve ser utilizada para
      construção de consultas simples. Não recomendados a utilização desta
      ferramenta para construção de consultas complexas, evitando assim efeitos
      adversos em sua aplicação.
    </li>
    <!---->
  </ul>
</div>
