
.sql-disclaimer-container[_ngcontent-xtc-c185] {
    background-color: #f8ac5940;
    border: 1px solid #e17a0a;
    border-radius: 8px;
    color: #e17a0a;
    margin: 20px 0;
    padding: 12px 20px;
}